.wrap {
    composes: wrap from 'commonCss/common.css';
}

.background {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 400px;
    background: #519cea;
    z-index: -1;
}

.box {
    padding: 20px;
    background: #fff;
}