.wrap {
    composes: wrap from 'commonCss/common.css';
}

.top {
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
    background: #519cea;
    color: #fff;
}

.questions {
    margin-top: 50px;
}

.questionWrap {
    margin: 30px 0;
}

.inlineQuestionWrap {
    composes: questionWrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inlineQuestionWrap .h1 {
    margin: 0;
}

.lastQuestionWrap {
    composes: questionWrap;
    margin-bottom: 20px;
}

.h1 {
    margin: 15px 0;
    font-weight: 400;
    font-size: 32px;
}

.number {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #fff;
    color: #519cea;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    line-height: 32px;
    margin-right: 10px;
    font-weight: 700;
    vertical-align: middle;
}

.button {
    padding: 0 12px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    border: none;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-right: none;
    transition: color .05s;
}

.button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #fff;
}

.selected {
    background: #fff;
    color: #519cea;
    transition: color .05s;
}

.enter {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
}

.enterActive {
    visibility: visible;
    opacity: 1;
    max-height: 350px;
    transition: opacity .4s .4s, max-height .4s, visibility 0s .4s;
}

.hr {
    margin: 0;
    border: none;
    border-top: 1px solid #fff;
}

.submitWrap {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.reset {
    font-size: 24px;
    padding: 10px 15px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

.submit {
    font-size: 24px;
    padding: 10px 15px;
    background: #fff;
    border: none;
    border-radius: 5px;
    color: #519cea;
}